/*body {
	font-family: sans-serif;
	margin-left: 2em;
}*/

label {
	display: block;
}

.list-control {
	/*max-width: 20%; */
}

p {
	display: inline;
	
}

.wrapper {
	padding: 1%;
	text-align: center;
	align-items: center;
}

ul {
	text-align: center;
}