.wrapper{
	
}
.buster_details{
	font-family: 'Cabin', sans-serif;
}
.buster_details p{
	font-size: 20px;
	padding-right: 85px;
}

@media (max-width: 992px) {
	.buster_details p{
		padding-right: 0px;
	}
}
.cover-bg{
	width: 100%;
	max-height: 450px;
	display: inline;
	background-size: cover;
}

.hero{
	text-align: center;
	display: inline;
  position: relative;
}

.hero h1{

	position: absolute;
  top: -85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
}

.hero h3{
	position: absolute;
  top: 55;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin-top: 0;
}

@media (max-width: 769px ) {
	.hero h1{
		top: -100%;
		font-size: 32px;
	}
	.hero h3{
		font-size: 18px;
	}
}

.pad{
  padding: 30px;
}
